---
Checks: '-*,clang-diagnostic-*,clang-analyzer-*,-clang-analyzer-security*,misc-*,-misc-no-recursion,performance-*,readability-*,-readability-container-*,-readability-use-std-min-max,bugprone-*,cppcoreguidelines-*,-cppcoreguidelines-macro-to-enum,google-global-names-in-headers,codequality-*,portability-*,modernize-*'
WarningsAsErrors: '*'
CheckOptions:
  - key:             readability-function-size.LineThreshold
    value:           '100'
  - key:             readability-identifier-length.MinimumParameterNameLength
    value:           '2'
  - key:             readability-identifier-length.MinimumLoopCounterNameLength
    value:           '1'
...
