---
Checks: '-*,clang-diagnostic-*,clang-analyzer-*,-clang-analyzer-security*,misc-*,-misc-no-recursion,performance-*,readability-*,-readability-container-*,-readability-use-std-min-max,bugprone-assignment-in-if-condition,bugprone-integer-division,bugprone-suspicious-string-compare,bugprone-infinite-loop,bugprone-macro-parentheses,bugprone-too-small-loop-variable,cppcoreguidelines-*,-cppcoreguidelines-no-malloc,-cppcoreguidelines-macro-to-enum,google-global-names-in-headers,codequality-*,portability-*'
WarningsAsErrors: '*'
CheckOptions:
  - key:             readability-function-size.LineThreshold
    value:           '100'
  - key:             readability-identifier-length.MinimumParameterNameLength
    value:           '2'
  - key:             readability-identifier-length.MinimumLoopCounterNameLength
    value:           '1'
...
